
  
  h1 {  border: 1px solid black;
    margin: 25px 50px 75px 100px;
    background-color: lightblue;
  }
  p {   background-color: yellowgreen;
    border-style: dotted
    color:mediumturquoise;
   font-size: 50px; 
  }
  div {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  }